.profile {
    width: 513px;
    height: 166px;
    margin-top: 142px;
    margin-left: 314px;
    border-radius: 14px;
    border: 1px solid #d6d6d6;
    background-color: #FFFFFF;
}
.profile h1 {
    font-size: 22px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;

}
.metas {
    width: 713px;
    /*height: 313px;*/
    margin-left: 60px;
    border-radius: 14px;
    border: 1px solid #d6d6d6;
    padding : 20px;
    padding-bottom: 10px;
    background-color: #FFFFFF;
}
.status {
    width: 413px;
    height: 300px;
    margin-top: 140px;
    margin-left: 3rem;
    border-radius: 14px;
    border: 1px solid #d6d6d6;
    padding-left: 44px;
    padding-right: 44px;
    background-color: #FFFFFF;
}
.addColab {
    width: 413px;
    height: 130px;
    margin-top: 20px;
    margin-left: 3rem;
    border-radius: 14px;
    border: 1px solid #d6d6d6;
    background-color: #FFFFFF;
}
.calendar {
    width: 713px;
    /*height: 313px;*/
    margin-left: 60px;
    margin-top: 20px;
    border-radius: 14px;
    /*border: 1px solid #d6d6d6;*/
    background-color: #FFFFFF;
}
.colaboradores {
    font-family: Material Icons;
    font-size: 64px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
}