
.search-tabela-pai {
    width: 80%;
    margin: 0 auto;
}

.search-tabela-header {
    display: flex;
    background-color: red;
    border-radius: 11px;
    height: 44px;
    padding-right: 15%;
    color: white;
}

.search-campo {
    flex-grow: 1;
    padding: 10px;
    
}

.search-campo-nome {
    width: 325px;
   margin-left: 7%;
    
}

.search-campo-cod {
    width: 150px;
    margin-right: 16%;
    
}

.search-campo-data {
    width: 100px;
    margin-right: 10%;
    
    
}

.search-tabela-data {
    width: 100%;
    max-height: 500px; 
    overflow-y: auto;
}
.search-tabela-data::-webkit-scrollbar {
    width: 12px;
    margin:3%;
  }
  
  .search-tabela-data::-webkit-scrollbar-thumb {
    background-color: #ee0a0a; 
    border-radius: 10px; 
  }
  
  .search-tabela-data::-webkit-scrollbar-thumb:hover {
    background-color: #ff0000; 
  }

.search-data-row {
    display: flex;
    padding: 10px;

    padding-top: 3%;
}

.search-data-campo {
    flex-grow: 1;
    padding: 10px;
    text-align: center;
    width: 250px;
}


.search-nome-text {
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    width: 250px;
}


.search-icon-classname {
    margin-right: 10px;
    width: 60px;
    height: 50px;
}

.search-field-cod {
    width: 120px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    align-items: center;
    
}
.graph-container {
    border: 1px solid #E0E0E0; 
    border-radius: 33px;  

    width: 1200px;
    
    
}
.h1-text {
    margin-left: 5%;
    margin-top: 2%;
    font-weight: bold;

}


.search-field-data {
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 3%;
    
}
.ver-perfil-btn {
    background-color: white;
    color: #E51110;
    border: 1px solid red;
    padding: 5px;
    cursor: pointer;
    border-radius: 11px;
    margin-right: 5%;
    width: 122px;
    height: 29px;
    font-size: 11px;
  }
  .clickable-square {
    width: 31px;
    height: 29px;
    cursor: pointer;
    border-radius: 11px;
    margin-right: 10%;
    border: 1px solid #E51110;

}

.clickable-square.clicked {
    background-color: red;
    border-radius: 11px;
}

.search-email-text {
    font-size: 0.8rem; 
    color: grey; 
  }  
  .search-tabela-top {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    
}

.search-time {
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid red; 
    padding-bottom: 1px;
    
}

.criar-indicador-btn {
    background-color: red;
    color: #ffffff;
    border: 1px solid red;
    padding: 5px;
    cursor: pointer;
    border-radius: 11px;
   margin-right: -9px;
    width: 122px; 
    height: 29px;
    font-size: 11px;
    margin-bottom: 1%;
}

.toggle-button {
    padding: 10px 15px 0px 15px;
    border: none;
    margin-bottom: 2%;
    margin-top: 7%;

    color:#ABABAB; 
    cursor: pointer;
    transition: background-color 0.3s;
   
}

.toggle-button.active {
    border-bottom: 2px solid red;
    font-weight: bold;
    color: black ;
}

