.metas {
    width: 613px;
    margin-top: 20px;
    margin-left: 60px;
    border-radius: 14px;
    border: 1px solid #d6d6d6;
    padding-top: 5%;
    padding-left: 44px;
    padding-right: 44px;
    background-color: #FFFFFF;
}
.status {
    width: 413px;
    /*height: 313px;*/
    border-radius: 14px;
    border: 1px solid #d6d6d6;
    padding: 30px;
    background-color: #FFFFFF;
}