.div-paiI{
    width: 100%;
    height: 470px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    margin-top: 75px;
  }
  
  .graficoIndicadores{
    width: 624px;
    height: 467px;
    padding: 4px;
    margin-left: 150px;
    margin-right: 150px;
    border: 2px solid black;
  }
  .botoesIndicadores{
    width: 624px;
    height: 467px; 
    display: flex;
    flex-direction: row;
    padding: 4px;
    align-content: center;
    justify-content: space-around;
    margin-right: 7%;
    margin-top: 35px;
    margin-left: 7%;
  }
  
  .botaoIndicadores{
    height: 370px;
    width:205px;
    background-color:#363636 ;
    border-radius:16px ;
    align-content: center;
    justify-content: space-between;
    padding-bottom: 40px;
    margin-bottom: 40px;
    display: flex;
    margin-left: 8%;
    margin-right: 8%;
  }
  .botaoE{
    height: 370px;
    width:205px;
    background-color:#363636 ;
    border-radius:16px ;
    align-content: center;
    justify-content: space-between;
    padding-bottom: 40px;
    margin-bottom: 40px;
    display: flex;
    margin-left: 8%;
    margin-right: 8%;
  }
  .botao h1 {
    color: #000000; 
    font-size: 15px; 
    margin: 0; 
    padding-top: 50px;
    font-weight: bold;
    padding-left: 40px;
    font-weight: bold;
    
}
.botao h2 {
  color: #000000; 
  font-size: 12px; 
  margin: 0; 
  padding-top: 10px; 
  padding-right: 35px;
}
.botaoE h1 {
    color: white; 
    font-size: 15px; 
    margin: 0; 
    padding-top: 50px;
    font-weight: bold;
    padding-left: 40px;
    
}
.botaoE h2 {
  color: white; 
  font-size: 12px; 
  margin: 0; 
  padding-top: 10px; 
  padding-right: 35px;
}

  .grafico img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.tabela-pai{
 
  width: 100%;
  height: 200px;
  margin-top: 50px;
}

